.DS_Store
node_modules/
dist/
package-lock.json
test/unit/coverage
test/e2e/reports

# vitepress build output
docs/.vitepress/cache
.vitepress/cache

# vscode
.vscode/*
!.vscode/settings.json
